<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>

<div [appHighlight]="color" class="attribute-directive-example">
    <p>Choose a color and hover over to see attribute-directive in work!</p>
</div>
<a href="https://angular.io/guide/attribute-directives">Source</a> of example above
<div>
  <p>In the toolbar above, theres structural directive (ngIf).</p>
</div>