<div class="about-container">
  <h1>
    About
  </h1>
  <p>
      This project is a sample of basic Angular functions.
      Source code will be added soon!
  </p>

  <h2>Steps to deploying to Heroku</h2>
  <h3>with automatically deploying from pushing to github</h3>
  <ol>
    <li>Create new github-repo</li>
    <li>Push content to github</li>
    <li>Connect from Heroku to gitHub</li>
    <li>Enable automatic deployment</li>
    <li>npm install @angular/cli@latest @angular/compiler-cli --save</li>

  </ol>
  <p>Source <i>https://itnext.io/how-to-deploy-angular-application-to-heroku-1d56e09c5147</i></p>
</div>
